<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/s"
        android:label="@string/app_name"
        android:roundIcon="@drawable/s"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <activity
            android:name=".trips.AddTripActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"/>
        <activity
            android:name=".register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".trips.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".trips.ViewTripsActivity"
            android:exported="true" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".trips.InfoTripActivity"
            android:exported="true" />

    </application>

</manifest>